<h2>Contact Us</h2>
<p>
Dayu Apoji, Ph.D. <br>
Assistant Professor <br>
Faculty of Civil and Environmental Engineering <br>
Bandung Institute of Technology <br>
<br>
email: dayu.apoji (at) itb.ac.id <br>
<br>
Lorem ipsum dolor  <br>
Lorem ipsum dolor  <br>
Lorem ipsum dolor  <br>
Lorem ipsum dolor  <br>
</p>

<p>
 <h3> Interested in joining the Fraser lab? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>

<p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
