<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id="{{include.member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
  <div class="col-sm-4">
    <img class="img-fluid" src="{{include.member.image}}" {% if include.member.altimage %}
      onmouseover="this.src='{{include.member.altimage}}';" onmouseout="this.src='{{include.member.image}}';" {% endif
      %} alt="{{include.member.name}}" width="200" height="200" loading="lazy" decoding="async"><br>
    <strong>{{include.member.name}}</strong> <br>

    {{include.member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>

    <!-- {% if include.member.interest %}
    <em>{{include.member.interest}}</em> <br>
    {% endif %} -->

    <em>{{include.member.email}}</em> <br>
    {% if include.member.website %}
    <a style="overflow-wrap: break-word;" href="{{include.member.website}}">{{include.member.website}}</a> <br>
    {% endif %}
    {% if include.member.FTSL %}
    <a href="https://ftsl.itb.ac.id/"><img class="inline-block mem-icon" src="/static/img/logo/logo-ftsl-1.png"></a>
    <a href="https://ftsl.itb.ac.id/kelompok-keahlian/rekayasa-geoteknik/{{include.member.FTSL}}"> Profile </a> <br>
    {% endif %}
    {% if include.member.orcid %}
    <a href="https://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
    <a href="https://orcid.org/{{include.member.orcid}}"> {{include.member.orcid}}</a> <br>
    {% endif %}
    {% if include.member.linkedin %}
    <a href="https://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
    <a href="https://www.linkedin.com/in/{{include.member.linkedin}}"> {{include.member.linkedin}} </a> <br>
    {% endif %}
    {% if include.member.scholar %}
    <a href="https://scholar.google.com"><img class="inline-block mem-icon"
        src="/static/img/logo/gscholar_logo.svg"></a>
    <a href="https://scholar.google.com/citations?user={{include.member.scholar}}"> {% if include.member.timeline_name
      %}{{ include.member.timeline_name }}{% else %}{{ include.member.name | split: " " | first }}{% endif %}'s
      Citations </a> <br>
    {% endif %}
    {% if include.member.nih %}
    <a href="https://pubmed.ncbi.nlm.nih.gov/"><img class="inline-block mem-icon"
        src="/static/img/logo/nih_logo.svg"></a>
    <a href="https://www.ncbi.nlm.nih.gov/myncbi/{{include.member.nih}}/bibliography/public/"> {% if
      include.member.timeline_name %}{{ include.member.timeline_name }}{% else %}{{ include.member.name | split: " " |
      first }}{% endif %}'s Publications </a> <br>
    {% endif %}
    {% if include.member.github %}
    <a href="https://github.com"><img class="inline-block mem-icon" src="/static/img/logo/github_logo.svg"></a>
    <a href="https://github.com/{{include.member.github}}"> {{include.member.github}} </a> <br>
    {% endif %}
  </div>
  <div class="col-sm-8">
    {{include.member.description | markdownify}}
  </div>
</div>